<h1>Users</h1>

<ul [@listStagger]="users$">
  <li *ngFor="let user of users$">
    <a routerLink="/details/{{user.id}}" *ngIf="!user.editable">{{ user.name }}</a>
    <button (click)="delete(user.id)">
      <i class="material-icons">close</i>
    </button>
    <button (click)="edit(user)" *ngIf="!user.editableBtn">
      <i class="material-icons">edit</i>
    </button>
    <ul>
      <li>{{ user.email }}</li>
      <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
    </ul>
  </li>
</ul>